// GameShow.scss
.game-show-container {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  margin-top: 10px;
}

.game-show-content {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  

  .posts-index-container {
    height: auto;
    text-align: left;
  }
}

.game-show-images {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}


.game-show-images img {
  border-radius: 10px;
  width: 600px;
  height: auto;
}

// :root {
//   --glow-color: #061e1e;
// }


// .game-Name {
//   color: var(--glow-color);
//   cursor: pointer;
//   padding: 0.35em 1em;
//   border: 0.15em solid var(--glow-color);
//   border-radius: 0.45em;
//   background: none;
//   perspective: 2em;
//   font-size: 2em;
//   font-weight: 500;
//   letter-spacing: 0.3em;
//   text-shadow: 0 0 5px rgba(6, 30, 30, 0.4), 0 0 10px rgba(6, 30, 30, 0.4), 0 0 15px rgba(6, 30, 30, 0.4), 0 0 20px rgba(6, 30, 30, 0.4);
//   box-shadow: 0 0 5px var(--glow-color), 0 0 10px var(--glow-color), 0 0 15px var(--glow-color), 0 0 20px var(--glow-color);
//   animation: glowing 2s infinite;
// }

.game-Name {
  // color: var(--glow-color);
  color: #fff;
  padding: 0.35em 1em;
  // border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 0.1em;
  // text-shadow: 0 0 5px rgba(6, 30, 30, 0.4), 0 0 10px rgba(6, 30, 30, 0.4), 0 0 15px rgba(6, 30, 30, 0.4), 0 0 20px rgba(6, 30, 30, 0.4);
  // box-shadow: 0 0 5px var(--glow-color), 0 0 10px var(--glow-color), 0 0 15px var(--glow-color), 0 0 20px var(--glow-color);
  // animation: glowing 2s infinite;
}


// @keyframes glowing {
//   0% {
//     text-shadow: 0 0 5px rgba(6, 30, 30, 0.1), 0 0 10px rgba(6, 30, 30, 0.1), 0 0 15px rgba(6, 30, 30, 0.1), 0 0 20px rgba(6, 30, 30, 0.1);
//   }
//   50% {
//     text-shadow: 0 0 5px rgba(6, 30, 30, 0.6), 0 0 10px rgba(6, 30, 30, 0.6), 0 0 15px rgba(6, 30, 30, 0.6), 0 0 20px rgba(6, 30, 30, 0.6);
//   }
//   100% {
//     text-shadow: 0 0 5px rgba(6, 30, 30, 0.1), 0 0 10px rgba(6, 30, 30, 0.1), 0 0 15px rgba(6, 30, 30, 0.1), 0 0 20px rgba(6, 30, 30, 0.1);
//   }
// }

.create-post-modal-holder {
  width: fit-content;
  margin: 0 auto;
  border-radius: 8px;
  .create-post-modal {
    background-color: #666;
    color: white;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
    border-radius: 8px; 
    margin-bottom: 20px;
  }
}

.create-post-modal-holder:hover {
  // box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.3);
  background-color: #555;
}

.game-posts {
  width: 100%;
}

