@import '../../App.scss';

.dropdown {
    position: absolute;
    background-color: #111111;
    opacity: 0.9;
    left: 101%;
    top: 0px;
    min-width: 250px;
    padding: 10px;
    // z-index: 10;
    // box-sizing: content-box;
    border-radius: 0 4px 4px 4px;
    box-shadow: 0px 2px 8px 2px rgba(114, 114, 114, 0.1);
    // display: none;
    .line-divider {
        border-bottom: 1px $neutral-text solid;
        margin: 5px 0 9px 0;
    }
}

.dropdown-name {
    font-weight: 500;
    letter-spacing: 0.1em;
}

.dropdown-name:hover {
    cursor: default;
}

.dropdown-item {
    border-radius: 4px;
    font-size: 14px;
    margin: 4px 0;
}

.dropdown-item:hover {
    background-color: #222;
}

.hidedrop {
    display: none;
}