.comments-index-container {
  width: 100%;
  background-color: #e4dfd5;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  color: #111;
  display: flex;
  flex-direction: column;
}

.comment-item {

}