@import '../../App.scss';

.comments-index-container {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  background-color: #555;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-radius: 12px;
  color: #e4dfd5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comment-item {
  outline: 1px solid #777;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #292929;
  border-radius: 8px;
  padding: 5px 10px;
  margin: 5px 0;

  > #avatar-container {
    margin-right: 10px;

    > img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }

    #initial-container {
      padding: 15px;
      font-size: 15px;
    }
  }

  > .comment-text-holder {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50px;

    > .author-block {
      margin-bottom: 10px;

      > .author-username {
        font-weight: 600;
        font-size: 14px;
      }

      .timestamp {
        font-size: 10px;
        font-weight: 200;
      }
    }

    > .comment-body {
      font-weight: 300;
      font-size: 13px;
    }
  }
}

