// pagination.scss
.swiper {
  &-pagination {
    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);

    &-bullet {
      display: inline-block;
      width: 8px;
      height: 8px;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 100%;
      opacity: 1;
      cursor: pointer;
    }

    &-bullet-active {
      background: #007aff;
      opacity: 1;
    }

    &-clickable .swiper-pagination-bullet {
      cursor: pointer;
    }

    &-type-fraction {
      font-family: inherit;
      font-weight: bold;
    }

    &-type-progressbar {
      background: rgba(0, 0, 0, 0.25);
      position: absolute;
    }

    &-progressbar {
      background: #007aff;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: scale(1);
      transform-origin: left top;
    }

    &-lock {
      display: none;
    }
  }
}
