@import '../../App.scss';

.reviews-index-container {
    box-sizing: border-box;
    width: 100%;
    min-width: 410px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;

    color: $default-white;
}

.review-rating-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 16px;
    margin-bottom: 4px;
}