.home-container {
    margin: 20px;

    .swiper-image {
      border-radius: 4%;
    }
  
    .header-text {
      text-align: center;
      font-size: 28px;
      margin-bottom: 20px;
      color: white;
    }
  
    .header-body1 {
      background-image: url("https://5tack.s3.amazonaws.com/public/game-background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      padding: 50px;
      color: white;
      font-size: 20px;
      margin-bottom: 20px;
    }
  
    .header-body2 {
      background-image: url("https://5tack.s3.amazonaws.com/public/game-background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      padding: 50px;
      color: white;
      font-size: 20px;
      margin-bottom: 20px;
    }
  
    .header-body3 {
      background-image: url("https://5tack.s3.amazonaws.com/public/game-background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      padding: 50px;
      color: white;
      font-size: 20px;
      margin-bottom: 20px;
    }
  
    .header-end {
      background-image: url("https://5tack.s3.amazonaws.com/public/game-background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      padding: 50px;
      color: white;
      font-size: 24px;
      margin-bottom: 20px;
    }
  

    .swiper-image {
        border-radius: 4%;
    }
    
    swiper-container {
    
        swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                display: block;
                max-height: 300px;
            }
        }
    }
}