@import '../../App.scss';

#nav-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #11151C;
    color: $neutral-text;
    overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
}

#category-container {
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
}