#nav-container {
    width: 100vw;
    height: 100px;
    background-color: rgb(0, 9, 103);
    // display: flex;
    // justify-content: space-between;
    a {
        color: white;
    }

    .upper-nav {
    }

    .lower-nav {
        //
    }
}