@import '../../App.scss';

#nav-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #11151C;
    color: $neutral-text;
    overflow: hidden;
}

#category-container {
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
}

