.dropdown {
    position: absolute;
    background-color: #111;
    left: 100.5%;
    top: 0px;
    width: max-content;
    padding: 0 10px;
    z-index: 1;
    // box-sizing: content-box;
    border-radius: 8px;
    // display: none;
    .line-divider {
        border-bottom: 1px white solid;
        margin: 5px 0;
    }
}

.dropdown:hover {
    // display: block;
}