@import '../../App.scss';

.dropdown {
    position: absolute;
    background-color: #111;
    left: 100.5%;
    top: 0px;
    width: max-content;
    padding: 0 10px;
    // z-index: 10;
    // box-sizing: content-box;
    border-radius: 4px;
    // display: none;
    .line-divider {
        border-bottom: 1px $neutral-text solid;
        margin: 5px 0;
    }
}

.hidedrop {
    display: none;
}