@import '../../App.scss';

.reviews-index-container {
    box-sizing: border-box;
    min-width: 500px;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 350px);
    background-color: #333;
    color: $neutral-text;
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reviews-index-container {
    box-sizing: border-box;
    min-width: 450px;
    width: 100%;
    min-height: calc(100vh - 350px);
    height: 100%;
    background-color: #333;
    color: $neutral-text;
    padding: 50px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
}

.create-review-modal-holder {
    width: fit-content;
    margin: 0 auto;
    border-radius: 8px;

    .create-review-modal {
        background-color: #666;
        color: $neutral-text;
        padding: 10px 20px;
        font-weight: 500;
        cursor: pointer;
        font-size: 20px;
        border-radius: 8px;
        margin-bottom: 50px;
    }
}

.create-review-modal:hover {
    // box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.3);
    background-color: #555;
}


.review-index-item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 500px;
    max-width: 650px;
    width: 50%;
    // padding: 0px 0px 25px 0px;
    outline: 1px solid $neutral-text;
    border-radius: 12px;
    color: $neutral-text;
    margin-bottom: 50px;
    padding-bottom: 10px;


    .review-index-rating {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        font-size: 28px;
        font-weight: 600;
        min-width: 500px;
        max-width: 650px;
        width: 100%;
        padding: 25px;
        outline: 1px solid $neutral-text;
        border-radius: 12px 12px 0px 0px;
        color: $neutral-text;
        position: relative;
    }

    .review-rating {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .review-index-rating .fa-star {
        font-size: 26px;
    }

    .review-index-item-information {
        box-sizing: border-box;
        min-width: 500px;
        max-width: 650px;
        width: 100%;
        padding: 25px;
        color: $neutral-text;
    }


    .author-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;


        >.timestamp {
            font-size: 14px;
            font-weight: 200;
        }
    }

    .author-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 20px;

        a>#avatar-container {
            // margin: 15px 0;
            margin-right: 20px;

            >img {
                width: 40px;
                height: 40px;
            }

            #initial-container {
                font-size: 20px;
                padding: 20px;
            }
        }

        >.author-username {
            font-weight: 600;
            letter-spacing: 0.05rem;
        }
    }

    .review-index-title {
        font-size: 28px;
        font-weight: 500;
    }

    .review-index-description {
        font-size: 18px;
        line-height: 1.15em;
        font-weight: 300;
        // margin-bottom: 20px;
    }

    // .review-comment-separator {
    //     width: 100%;
    //     height: 1px;
    //     background-color: $neutral-text;
    //     margin: 15px 0;
    // }

    .review-buttons-holder {
        display: flex;
        width: fit-content;
        justify-content: space-between;
        position: absolute;
        // right: 30px;
        right: 3%;
        // bottom: 30px;
        bottom: 24px;

        .fa-solid {
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 6px;
            padding: 8px;
            
          }
        
          .fa-solid:hover {
            background-color: #666;
          }
    }
    
}