@import '../../App.scss';

#nav-container {
    background-color: $default-white;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: center;
    
    height: 80px;
}

#nav-content-container {
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#icon {
    height: 39px;
    // position: relative;
    // top: 50%;
    // transform: translateY(-50%);
    margin-right: 50px;
}

#temp-avatar {
    height: 40px;
    width: 40px;
    // border: 1px black solid;
    border-radius: 5px;
    margin-left: 50px;
}

// Category Nav
#category-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92%;
    // border: 1px solid black;

    overflow: hidden;
}

// Category Button

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes moveLeft {
    100% { transform: translateX(var(--distLeft, 500px)); }
    // 100% { width: 0px; }
}


@keyframes fromRight {
    0% { transform: translateX(100vw); }
    100% { transform:100vw - translateX(var(--distLeft, 0)); }
}

@keyframes deactive {
    100% { transform: translateX(var(--distLeft, 0)); }
}

// @keyframes collapseButton {
//     100% {
//         border: none;
//         width: 0;
//         margin-right: 0;
//         border-radius: 0;
//         padding: 0;
//     }
// }

.style-button {
    border: 1px solid black;
    width: fit-content;
    font-weight: bold;
    
    // margin-right: 10px;
    border-radius: 8px;
    padding: 8px 12px;
    // visibility: visible;
    cursor: pointer;
}

.style-button:last-child {
    margin-right: 0px;
}

.game-button {
    // animation: fadeIn 0.5s, fromRight 0.5s;


    // animation: fadeIn 1.2s, fromRight 0.5s;
    margin-left: 20px;
    text-decoration: none;
    color: inherit;
    // display: none;
}

.active-style-button {
    color: $default-white;
    background-color: $default-bg;
}

.inactive {
    // // animation: fadeOut 1s;
    // transition-property: width, height, margin-right, opacity, border-width;
    // transition-duration: 0.5s;
    // // transition-timing-function: ease-out;
    // // transition-delay: 0.5s;
    // width: 0;
    // // transition: visibility 0.5s;
    // // visibility: hidden;
    // // display: none;
    // opacity: 0;
    // height: 0;
    // width: 0;
    // margin-right: 0;
    // // padding: 0;
    // // border-width: none;
    // // color: transparent;
    
    // my attempt:
    

    // animation: fadeOut 0.5s, moveLeft var(--time, 0.5s);
    animation: fadeOut 0.5s;
    pointer-events: none;

}

.style-button:not(.inactive):hover {
    color: $default-white;
    background-color: $default-bg;
}

.active-category-button {
    /* @keyframes duration | easing-function | delay | name */
    // animation: 3s linear 1s slidein;
    // animation-timing-function: ease-out;


    // animation: 0.5s ease-out 0s moveLeft;
    color: $default-white;
    background-color: $default-bg;

    
    animation: 1s ease-out 0.5s moveLeft;
}

// .active-category-button[deactive=true] {
//     animation: 3s ease-in 1s deactive;
//     color: cadetblue; 
// }

.deactive-category-button {
    color: $default-white;
    background-color: $default-bg;

    animation: 1s ease-in 0.5s deactive;
}

// #active-category-button {
//     /* @keyframes duration | easing-function | delay | name */
//     // animation: 3s linear 1s slidein;
//     // animation-timing-function: ease-out;


//     // animation: 0.5s ease-out 0s moveLeft;
//     color: $default-white;
//     background-color: $default-bg;

    
//     animation: 5s ease-out 0s moveLeft;
// }

#game-nav {
    display: flex;
    animation: fadeIn 1s;
}

.move-back {
    // animation: 5s ease-out 0s moveLeft;
    // animation: moveLeft 3s;
}