@import '../../App.scss';

.nav-dropdown-container {
    margin-left: 50px;
    display: flex;
    align-items: center;
    
    position: relative;
    i {
        margin-left: 10px;
        font-size: 20px;
    }
    img {
        width: 39px;
        height: 39px;
        border-radius: 8px;
    }
    .dropdown-container {
        .dropdown {
            // width: 120px;
            width: fit-content;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 40px;
            right: 50%;
            left: 50%;
            padding: 10px;
            // border: 1px solid $darker-blue;
            box-shadow: -2px 2px 4px rgba(54, 65, 86, 0.25);
            border-radius: 6px;
            background-color: $default-white;
            z-index: 1;
            width: 120px;
            transform: translateX(-50%);
            > div:first-child {
                display: flex;
                padding: 5px;
                flex-direction: column;
                p {
                    line-height: initial;
                }
                p:first-child {
                    font-weight: 500px;
                    margin-bottom: 5px;
                    font-size: 14px;
                }
                p:nth-child(2) {
                    color: $lightest-blue;
                    font-size: 12px;
                }
            }
            .user-info-divider { margin: 3px 0; }
            > div:hover {
                border-radius: 4px;
                background-color: $medium-blue;
                color: white;
            }
            hr {
                width: auto;
                margin: 5px 0;
            }
            > p {
                cursor: pointer;
                padding: 5px;
                border-radius: 4px;
                color: $darkest-blue;
            }

            > p:hover {
                background-color: $medium-blue;
                color: $default-white;
            }
        }
    }
}
