@import '../../App.scss';

#unauth-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: $default-white;
}

#unauth-content-container {
  display: flex;
  justify-content: space-between;
  width: 92%;
}

#unauth-title {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 36px;
    height: 36px;
    margin-right: 12px;
  }

  a {
    display: flex;
    align-items: center;
  }

  h1 {
    height: 50px;
    font-size: 48px;
    font-weight: 700;
    color: $darkest-blue;
    margin-right: 16px;
    letter-spacing: -3px;
  }
  
  h2 {
    height: 10px;
    font-size: 24px;
    font-weight: 500;
    color: $darker-blue;
  }
}

#unauth-buttons-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;

  li {
    font-size: 18px;
    font-weight: 500;
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid $darkest-blue;
    color: $darkest-blue;
    cursor: pointer;
  }

  li:hover {
    background-color: $darker-blue;
    color: $default-white;
  }
}