@import '../../App.scss';

.user-info {
    box-sizing: border-box;
    background-color: $default-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    width: 100%;
    min-height: 350px;
}

#avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 20px 0;
    color: black;
    border-radius: 8px;

    > img {
        width: 100px;
        height: 100px;
        border-radius: 8px;
    }

    #initial-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;
        width: 0;
        height: 0;
        font-size: 48px;
        font-weight: 700;
        border-radius: 8px;
    }
}

.user-info-field {
    margin: 8px;
    max-width: 450px;
    text-align: center;
    line-height: 1.5em;
}

.user-info-field.username {
    font-size: 24px;
    font-weight: 500;
}

.user-average-rating {
    display: flex;
    align-items: center;
    padding: 50px 0px 50px;
    font-size: 30px;
    font-weight: 600;
}

.user-average-rating i {
    margin-left: 12px;
    font-size: 26px;
}

.user-info-field.edit-user-btn {
    padding: 8px 12px;
    border-radius: 8px;
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}

.user-info-field.edit-user-btn:hover {
    background-color: #d0d0d0;
}