@import '../../App.scss';

#user-top-section {
  height: 40%;
  width: 100%;
  min-height: 205px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px 0;

  img {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    box-shadow: -4px 4px 4px rgba(33, 45, 64, 0.5); // $medium-blue at 50% opacity
  }
}

#user-info-username {
  font-size: 24px;
  font-weight: 600;
  margin: 15px 0 10px 0;
}

#user-average-rating {
  font-size: 18px;
  padding: 8px;
  border-radius: 8px;
  background-color: $darker-blue;
  color: $default-white;
}

#user-bottom-section {
  height: 60%;
  width: 100%;

  // display: grid;
  // grid-template-columns: 30% 70%;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: space-around;

  border: 1px solid $medium-blue;
  border-radius: 8px;

  // div {
  //   display: flex;
  //   align-items: center;
  //   padding: 0 12px;
  // }
}

.user-info-label {
  font-weight: 600;
  font-size: 14px;
  width: 50%;
}

.user-info-wrapper {
  display: flex;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  background-color: $darker-blue;
  box-sizing: border-box;
  color: $default-white;
}