$default-bg: #222;
$errors-color: rgb(155, 0, 0);
$neutral-text: #eeece7;
$default-font: "system-ui", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// REDESIGN VARIABLES
$default-white: #FFFCF2;
$darkest-blue: #11151C;
$darker-blue: #19212E;
$medium-blue: #212D40;
$lighter-blue: #364156;

div {
    overflow-wrap: break-word;
}

// #entire-app {
//     display: flex;
//     .main-content {
//         width: calc(100vw - 250px);
//         min-height: 100vh;
//     }

//     .unlogged-main-content {
//         width: 100%;
//         min-height: 100vh;
//     }
// }

// .main-content {
//     background-color: #222;
// }