$default-bg: #222;
$errors-color: rgb(155, 0, 0);
$neutral-text: #e4dfd5;

#entire-app {
    display: flex;
    .main-content {
        width: calc(100vw - 250px);
        min-height: 100vh;
        // z-index: 0;
    }
}