@import '../../App.scss';

#splash-container {
  background-color: $darkest-blue;
  height: 100vh;
  // overflow: hidden;
}

#splash-cards-container {
  display: flex;
  justify-content: space-around;
  height: 100%;
  min-width: 1000px;
  max-height: calc(100vh - 150px);
  margin-top: 50px;
  overflow: hidden;
}

.splash-card {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  width: 42%;
  padding: 30px 50px;
  border-radius: 12px 12px 0 0;
}

.hidden {
  display: none;
}

.posts-card {
  background-color: $default-white;
  color: $darkest-blue;
}

.reviews-card {
  background-color: $medium-blue;
  color: $default-white;
}

.splash-card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  h3 {
    font-size: 18px;
    font-weight: 500;
  }

  img {
    width: 70%;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
  }
}


// ANIMATION CODE TAKEN FROM https://sarthology.github.io/Animatopy/
// ALL CREDIT GOES TO https://daneden.me/

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.animated {
  -webkit-animation-duration: 1.8s;
  animation-duration: 1.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}