@import '../../App.scss';

.create-post-container {
    width: 400px;
    height: 100%;
    background-color: rgb(245, 245, 245);
    border-radius: 8px;
    padding: 30px;
  }

.create-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 36px;
        font-weight: 500;
        text-align: center;
        margin: 30px 0;
    }

    span {
        font-size: 12px;
        font-weight: 300;
        margin: 8px;
    }

    label {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        width: 350px;
    }

    input, textarea {
        box-sizing: border-box;
        border: none;
        font-size: 18px;
        width: 100%;
        padding: 12px;
        border-radius: 4px;
    }

    textarea {
        border: 0.5px solid black;
        font-family: inherit;
    }

    input[type="text"], .session-form input[type="password"] {
        outline: 1px solid #999;
    }

    input[type="text"]:hover, .session-form input[type="password"]:hover {
        outline: 1px solid #555;
    }


}

.errors {
    color: $errors-color;
    font-size: 12px;
    font-weight: 300;
}

.submit-btn {
    
  margin-top: 20px;
  border-radius: 8px;
  padding: 12px;
  background-color: #0c1398;
  color: $neutral-text;
  cursor: pointer;
}

.disabled-btn {
    background-color: #555;
    cursor: not-allowed;
}

.delete-btns {
    display: flex;
    width: 150px;
    justify-content: space-between;

    .cancel-btn {
        // margin-top: 15px;
        text-align: center;
        cursor: pointer;
        color: $neutral-text;
        background-color: #999;
    }
}

.cancel-btn:hover {
    color: $neutral-text;
    background-color: #666;
}